.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 145, 0);
  color: white;
  height: 60px;
  align-items: center;
}

.brand h3 {
  margin: 0 20px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}
.controls a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  padding: 10px 0;
  transition: all 0.2s;
}

.controls a:hover {
  border-bottom: 2px solid white;
}
